@import url(bgpattern.css);

*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

:root{
    --gradient:linear-gradient(271deg,#1ea7dd 30%,#b27feb 50%,#d1dfa2 80%,#ffa0c1 94%);
    --violet:rgb(123, 87, 231);
    --violet-dark:rgba(123, 87, 231,.2);
    --bg:#121212;
    --bg-clear:#1a1a1a;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: white;
    background-color: var(--bg);
    overflow-x: hidden;

}

/*NAV BAR STARTS */



.logo{
    color: white;
    margin: 0;
    font-weight: 400;
    transition: 200ms;
}

.logo:hover{
    color:var(--violet);
    font-size: 28px;
}

nav{
    top:0;
    background-color: var(--bg-clear);
    position: fixed;
    margin: auto;
    display: flex;
    height: 5rem;
    width: 100%;
    justify-content: space-between;
    padding: 25px 10%;
    align-items: center;
    animation: nav-load 400ms ease-out;
    z-index: 10;
}


nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    transition: 200ms;
}

a {
    text-decoration: none;
}


.icon{
    font-size: 28px;
    color: white;
    margin: 0 1rem ;
    transition: 200ms;
}

.icon:hover{
    color:var(--violet);

}

.menu-item:hover{
    color:var(--violet);
}

.page-title{
    margin: 1rem 0;
    font-size:40px;
    color: #fff;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 550;
}



/*NAV BAR FINISHES/*


/* HERO STARTS */

.hero{
    background-color: var(--bg);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;

}

.inner-hero{
    position: relative;
    background-color: var(--bg-clear);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 1100px;
    border-radius: 25px;
    padding: 4rem;
    margin: 3rem 0 0 0;
    box-shadow: 0 0 25px .5px rgb(10, 10, 10);
    z-index: 3;
}


.about-me-title{
    margin: 5rem 0;
    font-size:52px;
    color: #fff;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 550;
    animation: hero-load 650ms ease-out;
    transform: translateX(30px);

}

.about-me-text{
    font-size: 22px;
    animation: hero-load 650ms ease-out;
    transform: translateX(30px);
}

.mva-img{
    transform: translateX(-30px);
    align-items: flex-end;
    width:  300px;
    height: 300px;
    border-radius: 50%;
    animation: hero-load-img 650ms ease-out;
}

hr {
    border-top: 20px dotted var(--violet-dark);
    border-bottom: 0 ;
    border-left: 0 ;
    border-right: 0 ;
    width: 20%;
    margin: 2rem 40% ;
    vertical-align: auto;
    transform: translateY(-50px);
    
}




/* HERO FINISHES */

/* ABOUT ME PAGE STARTS */

.about-me-page{
    margin: 5rem 0;
    background-color:  var(--bg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    margin-top: -60px;
    min-height: 100vh;
    width: 100%;
}


/* ABOUT ME PAGE FINISHES */

/* CONTACT PAGE STARTS */

.contact-page{
    margin: 5rem 0;
    background-color:  var(--bg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    margin-top: -60px;
    position: relative;
    min-height: 100vh;
    width: 100%;
}


/* CONTACT PAGE FINISHES */


/* WORK PAGE STARTS */

.work-page{
    margin: 5rem 0;
    background-color:  var(--bg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    margin-top: -60px;
    position: relative;
    min-height: 100vh;
    width: 100%;
}


/* WORK PAGE FINISHES */

/* SETUP PAGE STARTS */

.setup-page{
    min-height: 100vh;
    width: 100%;
    margin: 5rem 0;
    background-color:  var(--bg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    margin-top: -60px;
    position: relative;
}


.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    margin: 2rem auto 5rem auto;
}

.card{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 200px;
    background-color: var(--bg-clear);
    padding: 10rem auto;
    border-radius: 20px;
    margin: 8rem 2rem;
}


.card-img {
    width: 100%;
    border: solid grey;
    border-bottom: none;
    border-radius: 20px 20px 0 0 ;
}

.card-body{
    width: 100%;
    background-color: var(--bg-clear);
    padding: 1rem;
    margin: 0;
    border: solid grey;
    border-radius: 0 0 20px 20px ;
}

/* SETUP PAGE FINISHES */

/* SUPPORT ME PAGE STARTS */

.support-me-page{
    margin: 5rem 0;
    background-color:  var(--bg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    margin-top: -60px;
    width: 100%;
    min-height: 100vh;
}

.inner-section-support{
    display: flex;
    background-color: var(--bg-clear);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 800px;
    width: 1200px;
    border-radius: 25px;
    padding: 5rem;
    margin: 3rem 0 0 0;
    box-shadow: 0 0 25px .5px rgb(10, 10, 10);
}




.support-me-page-thanks{
    font-size:48px;
    color: var(--violet);
    font-weight: 500;
}

.support-me-text{
    font-size: 22px;


}

.support-icon{
    color: var(--violet);
    font-size: 200;
}

.support-me-btn{
    font-size: 24px;
    font-weight: 600;
    padding: 16px 50px;
    margin:3rem ;
    background-color: var(--violet);
    border: solid var(--violet);
    color:white;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 8 2 var(--bg-clear);
    transition: 300ms ;
}

.support-me-btn:hover{
    background-color: white;
    border: solid white;
    color:var(--violet);
}

.thanks-container{
    margin: 1rem auto;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* SUPPORT ME PAGE FINISHES */


/*FOOTER STARTS*/

footer{
    display: flex;
    width: 100%;
    height: 6rem;
    background-color: #1a1a1a;
    justify-content: left;
    align-items: center;
}

.footer-text{
    margin: auto 3rem;
    font-weight: 400;
}



/* KEYFRAMES */

@keyframes nav-load {
    0%{
        transform: translateY(-100%);
    }

    50%{
        transform: translateY(-50%);
    }

    100%{
        transform: translateY(0%);
    }
}



@keyframes hero-load {
    0%{
        transform: translateX(0px);
    }

    25%{
        transform: translateX(15px);
    }

    50%{
        transform: translateX(20px);
    }

    75%{
        transform: translateX(25px);
    }

    100%{
        transform: translateX(30px);
    }

}
@keyframes hero-load-img {
    0%{
        transform: translateX(0px);
    }

    25%{
        transform: translateX(-15px);
    }

    50%{
        transform: translateX(-20px);
    }

    75%{
        transform: translateX(-25px);
    }

    100%{
        transform: translateX(-30px);
    }

}


  @media only screen and (min-width: 600px) {
    body {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width:70%;
    }
  }
  
  @media only screen and (min-width: 768px) {
    body {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 60%;
    }
  }
  
  @media only screen and (min-width: 992px) {
    body {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 60%;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    body {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
  }













