@import url(bgpattern.css);
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    caret-color: var(--violet);
}

::selection{
    background-color: #1ea7dd;
    color: #1a1a1a;
}

:root{
    --gradient:linear-gradient(271deg,#1ea7dd 30%,#b27feb 50%,#d1dfa2 80%,#ffa0c1 94%);
    --violet:rgb(123, 87, 231);
    --violet-dark:rgba(123, 87, 231,.2);
    --bg:#121212;
    --bg-clear:#1a1a1a;
    --bg-clear-transparent:rgba(20,20,20,.8)
}

body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    color: white;
    background-color: var(--bg);

}

/*NAV BAR STARTS */



.logo{
    font-size: 1.7rem ;
    color: white;
    margin: 2rem;
    font-weight: 400;
    transition: 200ms;
}

.logo:hover{
    color:var(--violet);
}



.navbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color:var(--bg);
    color: white;
    z-index: 4;
    width: 100%;
    height: 5rem;
    margin: auto;
}


a {
    text-decoration: none;
    color: white;
}


.navbar-menu ul {
    display: flex;
    margin: 0 2rem;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.navbar-menu ul li {
    list-style: none;

}

.navbar-menu li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-size: 1.4rem;
    transition: 200ms;
    position: relative;
    letter-spacing: .2rem;
    margin: auto .5rem;
    padding: 0 10px;
}
.navbar .navbar-menu ul li a::after{
    content: "";
    position: absolute;
    background: var(--violet);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 200ms;
}

.navbar .navbar-menu ul li.active a{
    color: var(--violet);
    position: relative;
    }

.navbar .navbar-menu ul li.active a::after{
    content: "";
    position: absolute;
    background: var(--violet);
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -5px;
    transition: 200ms;
}



.navbar-menu ul li :hover {
    color:var(--violet);
}


.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}


.page-title{
    margin: 2.5rem 0;
    font-size:44px;
    color: #fff;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}







/*NAV BAR FINISHES/*


/* HERO STARTS */

.hero{
    background-color: var(--bg);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;

}

.inner-hero{
    position: absolute;
    background-color: var(--bg-clear-transparent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 700px;
    width: 1100px;
    border-radius: 25px;
    padding: 4rem;
    margin: 3rem 0 0 0;
    box-shadow: 0 0 25px .5px rgb(10, 10, 10);
    z-index: 3;
}

.hero-text{
    width: 1000px;
}


.hero-about-me-title{
    margin: 5rem 0;
    font-size:52px;
    color: #fff;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    animation: hero-load 650ms ease-out;
    transform: translateX(30px);

}

.hero-about-me-text{
    font-size: 26px;
    animation: hero-load 650ms ease-out;
    transform: translateX(30px);
    margin:auto;
}
.hero-about-me-text:last-child{
    margin-bottom: 4rem;
}

.hero-img{
    transform: translateX(-30px);
    align-items: flex-end;
    width:  300px;
    height: 300px;
    border-radius: 50%;
    animation: hero-load-img 650ms ease-out;
}

.hr{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hr div{
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin: .5rem;
    background-color: var(--violet-dark);
    vertical-align: auto;
    transform: translateY(-52px);
    
}

.spacer{
    height:3rem;
}




/* HERO FINISHES */

/* ABOUT ME PAGE STARTS */

.about-me-page{
    margin: 5rem 0;
    background-color:  var(--bg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    margin-top: -60px;
    min-height: 100vh;
    width: 100%;
}

.inner-about-me{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 1400px;
    height: 800px;
    border-radius: 25px;
    margin: 2rem;
}

.about-me-page-title{
    margin: 1rem 0;
    font-size:26px;
    color: #fff;
    font-weight: 800;
}

.about-me-text{
    margin: 1.5rem 0;
    line-height: 2rem;
    font-weight: 500
}

.about-me-text-container{
    display: flex;
    text-align: justify;
    flex-direction: column;
    width: 500px;
}

.about-me-img{
    width: 500px;
    height: 500px;
    border-radius: 25px;
    transition: 300ms;
}

.about-me-img:hover{
    transform: scale(1.3);
}


/* ABOUT ME PAGE FINISHES */

/* CONTACT PAGE STARTS */

.contact-page{
    margin: 5rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    margin-top: -60px;
    position: relative;
    min-height: 100vh;
    width: 100%;
}

.inner-contact{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 1400px;
    height: 800px;
    border-radius: 25px;
}

.mail-container{
        display: flex;
        flex-direction: column;
        text-align: center;
}

.email{
    position: relative;
        margin: 2rem;
        transition: 300ms;
        font-size: 28px;
        font-weight: bold;
}

.email:hover{
        transform: scale(1.1);
        color: var(--violet);
}

.email::after{
    content: "";
    position: absolute;
    background: var(--violet);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 200ms;
}
.email:hover::after{
    width: 100%;

}


.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media-icons-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-media-icon{
    font-size: 32px;
    display:inline-block;
    cursor: pointer;
    margin: 20px;
    width: 80px;
    height: 80px;
    padding: 1.5rem 0;
    border-radius: 50%;
    line-height: 80px;
    text-align: center;
    position: relative;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    transition: 300ms;
}

.social-media-icon::after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    box-sizing: content-box;
    box-shadow: 0 0 0 3px var(--violet);
    top: 0;
    left: 0;
    opacity: 0;
    transition: 300ms;
  
  }
  
  
  .social-media-icon:hover{
    background-color: var(--violet);
    color: white;
    
  
  }
  
  
  .social-media-icon:hover::after{
    opacity: 1;
    transform: scale(1.15);
  }








/* CONTACT PAGE FINISHES */


/* WORK PAGE STARTS */

.work-page{
    margin: 5rem 0;
    background-color:  var(--bg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    margin-top: -60px;
    position: relative;
    min-height: 100vh;
    width: 100%;
}


/* WORK PAGE FINISHES */

/* SETUP PAGE STARTS */

.setup-page{
    min-height: 100vh;
    width: 100%;
    margin: 5rem 0;
    background-color:  var(--bg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    margin-top: -60px;
    position: relative;
}


.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    margin: 2rem auto 5rem auto;
}

.card{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 200px;
    background-color: var(--bg-clear);
    padding: 10rem auto;
    border-radius: 20px;
    margin: 8rem 2rem;
}


.card-img {
    width: 100%;
    border: solid grey;
    border-bottom: none;
    border-radius: 20px 20px 0 0 ;
}

.card-body{
    width: 100%;
    background-color: var(--bg-clear);
    padding: 1rem;
    margin: 0;
    border: solid grey;
    border-radius: 0 0 20px 20px ;
}

/* SETUP PAGE FINISHES */

/* SUPPORT ME PAGE STARTS */

.support-me-page{

    background-color:  var(--bg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 60px;
    margin-top: -60px;
    width: 100%;
    min-height: 100vh;
}

 .inner-section-support{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 800px;
    width: 1400px;
}

.inner-text-support{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 4rem;

}


.support-me-text{
    font-size: 22px;


}

.support-icon{
    color: var(--violet);
    font-size: 200;
    opacity: 0;
}

.support-me-btn{
    font-size: 24px;
    font-weight: 600;
    padding: 14px 60px;
    margin:1rem  4rem;
    background-color: white;
    border: solid white;
    color:var(--violet);
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 8 2 var(--bg-clear);
    transition: 300ms ;
}

.support-me-btn:hover{
    background-color: var(--violet);
    border: solid var(--violet);
    color:white;
    transform: scale(1.2);
}

.thanks-container{
    margin: 1rem 4rem;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



/* SUPPORT ME PAGE FINISHES */


/*FOOTER STARTS*/

.footer{

    margin-top: auto;
    display: flex;
    width: 100%;
    height: 6rem;
    background-color: var(--bg-clear);
    align-items: center;
    text-align: left;
}

.footer-text{
    margin: auto 3rem;
    font-weight: 400;
}



/* KEYFRAMES */

@keyframes nav-load {
    0%{
        transform: translateY(-100%);
    }

    50%{
        transform: translateY(-50%);
    }

    100%{
        transform: translateY(0%);
    }
}



@keyframes hero-load {
    0%{
        transform: translateX(0px);
    }

    25%{
        transform: translateX(15px);
    }

    50%{
        transform: translateX(20px);
    }

    75%{
        transform: translateX(25px);
    }

    100%{
        transform: translateX(30px);
    }

}
@keyframes hero-load-img {
    0%{
        transform: translateX(0px);
    }

    25%{
        transform: translateX(-15px);
    }

    50%{
        transform: translateX(-20px);
    }

    75%{
        transform: translateX(-25px);
    }

    100%{
        transform: translateX(-30px);
    }

}




/*OPTIMIZATIONS*/

/* NAVBAR MOBILE OPTIMIZATIONS */

@media screen and (max-width: 1024px) {

    .logo{
        margin: 1.5rem 0 0 1.5rem;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        top: 0;
    }

    .toggle-button {
        display: flex;
        margin: 1.2rem 1.5rem 0rem 0;
    }

    .navbar-menu {
        display: none;
        width: 100%;

    }


    .navbar-menu ul {
        width: 100%;
        flex-direction: column;
        display: block;
        margin: 0 0 1rem 0;
        transition: 200ms;
    }

    .navbar-menu ul li{
        display: block;
        text-align: center;
        background-color: var(--bg-clear);
        padding: 1.3rem;
        transition: 200ms;
        margin: auto;
    }

    .navbar-menu ul li:first-child{
        margin: 1.2rem 0 0 0 ;
    }
    
    .navbar-menu li:hover{
        background-color: var(--violet);
        color: white;
    }

    .navbar-menu li a:hover{
        color: white;
    }


    .navbar-menu li a::after{
        display: none;
    }

    .navbar-menu ul li a {
        padding: .5rem 1rem;
        font-size: 1.3rem;
    }

    .navbar-menu.active {
        display: flex;
    }


    .menu-item{
        position: relative;
    }

    .menu-item a{
        display: inline-flex;
        width: 100%;
        margin: auto;
        justify-content: right;
    }


}

/* NAVBAR OPTIMIZATION ENDS*/




@media only screen and (max-width:480px) {
    html,body{
        display: block;
        width: 100%;
        overflow-x: hidden;
    }

    /* NAV AND HERO STARTS*/
                
    .page-title{
        margin: .5rem auto;
        font-size: 34px;
    }

    h1{
        font-size: 24px;
    }
    
    .hero{
        margin: 4rem auto;
    }

    .inner-hero{
        width: 8%;
        position: relative;
        justify-content: center;
        align-items: center;
        height: 650px;
        background-color: var(--bg-clear-transparent);
        
    }

    .hero-text{
        width: 100%;
        text-align: justify;
    }

    .hero-about-me-title{
        font-family: 'Nunito', sans-serif;
        font-weight: 800;
        font-size: 40px;
        text-align: center;
    }

    .hero-about-me-text{
        text-align: center;
        margin: 2rem auto;
        font-size: 22px
    }

    .hero-about-me-title, .hero-about-me-text{
        transform: translateX(0px);
        animation: none;
    }


    .hero-img{
        display: none;
}

    /* NAV AND HERO ENDS*/

    

    /* ABOUT ME STARTS*/
    
    .inner-about-me{
        display: flex;

        position: relative;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 25px;
    }
    
    .about-me-page-title{
        margin: 1.5rem auto;
        font-size:22px;
        color: #fff;
        font-weight: 800;
    }
    
    .about-me-text{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.5rem;
        margin: 1rem;
    }
    
    .about-me-text-container{
        display: flex;
        margin:  auto;
        text-align: left;
        flex-direction: column;
        width: 80%;
        height: 100%;
    }
    
    .about-me-img{
        width: 300px;
        height: 300px;
        border-radius: 20px;
        margin: 2rem 0 5rem 0;
    }
    .about-me-img:hover{
        transform: none;
    }


    /* ABOUT ME ENDS*/


    /* CONTACT STARTS*/
    

    .contact-page{
        margin: 5rem 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-top: 60px;
        margin-top: -60px;
        position: relative;
        min-height: 100vh;
        width: 100%;
    }
    
    .inner-contact{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 90%;
        height: 100%;
        border-radius: 25px;
    }

    .social-media-icons-container{
        flex-wrap: wrap;
    }


    .social-media-icon::after{
        display: none;
    }

    .mail-container
    {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    .email{
        margin: 3rem 0;
        font-size: 24px;
        font-weight: bold;
    }

    

    .social-media {
        margin: 5rem auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   
    /* CONTACT ENDS*/


    /*SUPPORT STARTS*/

    
    .inner-section-support{
        margin: 0;
        width: 700px;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: var(--bg);
        
    }


    .support-me-text{
        margin: 1rem 0;
        font-size: 22px;
    }

    .thanks-container{
        flex-direction: column;
        margin: 3rem 0;
    }

    .support-me-btn{
        padding: 13px 50px;
        white-space: nowrap;
    }

    .support-icon{
        opacity: 0;
    }

    /* SUPPORT ENDS*/


    .footer-text{
        font-size: 14px;
    }


}


@media only screen and (max-width:768px) {
    html,body{
        display: block;
        width: 100%;
        overflow-x: hidden;
    }

    /* NAV AND HERO STARTS*/
                
    .page-title{
        margin: .5rem auto;
        font-size: 34px;
    }

    h1{
        font-size: 24px;
    }
    
    .hero{
        margin: 4rem auto;
    }

    .inner-hero{
        width: 8%;
        position: relative;
        justify-content: center;
        align-items: center;
        height: 650px;
        background-color: var(--bg-clear-transparent);
        
    }

    .hero-text{
        width: 100%;
        text-align: justify;
    }

    .hero-about-me-title{
        font-family: 'Nunito', sans-serif;
        font-weight: 800;
        font-size: 40px;
        text-align: center;
    }

    .hero-about-me-text{
        text-align: center;
        margin: 2rem auto;
        font-size: 22px
    }

    .hero-about-me-title, .hero-about-me-text{
        transform: translateX(0px);
        animation: none;
    }


    .hero-img{
        display: none;
}


    

    /* ABOUT ME STARTS*/
    
    .inner-about-me{
        display: flex;

        position: relative;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 25px;
    }
    
    .about-me-page-title{
        margin: 1.5rem auto;
        font-size:22px;
        color: #fff;
        font-weight: 800;
    }
    
    .about-me-text{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.5rem;
        margin: 1rem;
    }
    
    .about-me-text-container{
        display: flex;
        margin:  auto;
        text-align: left;
        flex-direction: column;
        width: 80%;
        height: 100%;
    }
    
    .about-me-img{
        width: 300px;
        height: 300px;
        border-radius: 20px;
        margin: 2rem 0 5rem 0;
    }
    .about-me-img:hover{
        transform: none;
    }


    /* ABOUT ME ENDS*/


    /* CONTACT STARTS*/
    

    .contact-page{
        margin: 5rem 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-top: 60px;
        margin-top: -60px;
        position: relative;
        min-height: 100vh;
        width: 100%;
    }
    
    .inner-contact{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 90%;
        height: 100%;
        border-radius: 25px;
    }

    .social-media-icons-container{
        flex-wrap: wrap;
    }


    .social-media-icon::after{
        display: none;
    }

    .mail-container
    {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    .email{
        margin: 3rem 0;
        font-size: 24px;
        font-weight: bold;
    }

    

    .social-media {
        margin: 5rem auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   
    /* CONTACT ENDS*/


    /*SUPPORT STARTS*/

    
    .inner-section-support{
        margin: 0;
        width: 700px;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: var(--bg);
        
    }


    .support-me-text{
        margin: 1rem 0;
        font-size: 22px;
    }

    .thanks-container{
        flex-direction: column;
        margin: 3rem 0;
    }

    .support-me-btn{
        padding: 13px 50px;
        white-space: nowrap;
    }

    .support-icon{
        opacity: 0;
    }

    /* SUPPORT ENDS*/


    .footer-text{
        font-size: 14px;
    }


}

@media only screen and (max-width:1024px) {

    body{
        display: block;
        width: 100%;
    }

    .inner-hero{
        margin: 5rem auto;
        width: 85%;
        position: relative;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }

    .about-me-text{
        margin: 2rem auto;
    }

    .about-me-title, .about-me-text{
        transform: translateX(0px);
        animation: none;
    }

    .hero-img{
        display: none;
}


}


@media only screen and (min-width:1024px) {
    html{
        overflow: hidden;
    }
}







